.hero__container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1542px;
}

.hero__offers_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.1rem;
    flex-flow: wrap;
}


.hero__offer_text{
    font-size: 2em;
    margin: 0.67em 0;
    color: #4665d7;
    font-weight: 500;
}